body {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: 88px;
    margin-left: 16px;
    padding-top: 18px;
    margin-bottom: 18px;
}

.header__button {
    border: none;
    background-color: inherit;
    padding: 0;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    transition: transform 1s;
}

.header__burger {
    height: 40px;
}

.menu-burger {
    background-image: url(assets/img/burger.svg);
    background-repeat: no-repeat;
}

.button-checkstatus {
    background-image: url(assets/img/checkstatus.svg);
    background-repeat: no-repeat;
}

.button-repair {
    background-image: url(assets/img/repair.svg);
    background-repeat: no-repeat;
}

.button-profile {
    background-image: url(assets/img/profile.svg);
    background-repeat: no-repeat;
}

.button-chat {
    background-image: url(assets/img/chat.svg);
    background-repeat: no-repeat;
}

.button-call {
    background-image: url(assets/img/call.svg);
    background-repeat: no-repeat;
}

.header__button:hover {
    transform: rotate(1turn);
}

.header__actions>li:nth-child(4)::before {
    content: "";
    display: inline-block;
    margin-right: 20px;
    margin-left: 4px;
    margin-bottom: 4px;
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    align-self: center;
}

.header__actions {
    padding: 0;
    display: flex;
    margin: 0;
    margin-left: auto;
    align-items: center;
}

.header__actions>li:nth-child(-n+3) {
    display: none;
}

.main__services {
    background-color: #F8F8F8;
}

.services {
    display: flex;
    flex-direction: column;
    border-top: 1px #d9fff5 solid;
}

.services__title {
    display: flex;
    align-items: center;
}

.services__actions {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.services__btn {
    border: none;
    background-color: inherit;
    padding: 0;
    margin-right: 32px;
    display: inline-block;
    vertical-align: top;
}

.services__btn:hover {
    color: tomato;
}

.services__btn:focus {
    outline: none;
    height: 42px;
    color: tomato;
    border: 2px pink solid;
    border-radius: 30px;
}

.services__btn-repair {
    display: none;
    background-image: url(assets/img/repair.svg);
    background-position: right;
    background-repeat: no-repeat;
    width: 180px;
    height: 40px;
    padding-right: 48px;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
}

.services__btn-checkstatus {
    display: none;
    background-image: url(assets/img/checkstatus.svg);
    background-position: right;
    background-repeat: no-repeat;
    width: 173px;
    height: 40px;
    padding-right: 48px;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
}

.services__title>h1 {
    font-family: 'TT Lakes';
    display: inline-block;
    font-size: 28px;
    color: #1B1C21;
    height: 40px;
    margin: 0;
    display: flex;
}

.services__title::before {
    content: "";
    display: inline-block;
    background: #41F6D7;
    height: 40px;
    width: 4px;
    margin-right: 12px;
}

.services__list {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.service__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.services__item {
    display: inline-block;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #7E7E82;
    margin-left: 24px;
    box-sizing: border-box;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 9px;
}

.services__item:hover {
    color: black;
    font-weight: 555;
}

.services__item:focus {
    color: black;
    font-weight: 555;
}

.services__item_active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.about {
    display: flex;
    flex-direction: column;
}

.about__text {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
    font-family: TT Lakes;
    font-size: 14px;
    text-align: left;
    margin-bottom: 16px;
    margin-top: 24px;
}

.about__show-more-btn {
    display: inline-block;
    background-color: inherit;
    border: none;
    background-image: url(assets/img/expand.svg);
    background-repeat: no-repeat;
    margin-bottom: 16px;
    height: 24px;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
    padding-left: 32px;
    margin-left: 20px;
    align-self: flex-start;
}

.about__show-more-btn:hover {
    color: black;
    font-weight: 555;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.about__img {
    width: 320px;
    height: auto;
}

@media (min-width: 768px) {
    .header__actions>li:nth-child(-n+3) {
        display: block;
    }
    .header__burger::after {
        content: "";
        display: inline-block;
        height: 32px;
        width: 2px;
        margin-right: 20px;
        margin-left: 2px;
        margin-bottom: 4px;
        background-color: #EAEAEA;
    }
    .about {
        flex-direction: row;
    }
    .about__img {
        width: 360px;
        height: auto;
    }
}

@media (min-width: 1120px) {
    .main__services {
        padding-top: 42px;
    }
    .header {
        display: none;
    }
    .services__btn-repair,
    .services__btn-checkstatus {
        display: block;
    }
    .services__list {
        flex-wrap: wrap;
        overflow: none;
        white-space: wrap;
    }
    .about__img {
        width: 532px;
        height: auto;
    }
}