html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes';
    float: left;
    width: 320px;
    height: 100vh;
    /* background-color: grey; */
}

a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.btn-round {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #FF3E79;
    --color: white;
    transition-property: background-color;
    transition-duration: 200ms;
}

.btn-round:hover {
    background-color: #f0c8d4;
    --color: #FF3E79;
}

.header {
    display: flex;
    height: 88px;
    align-items: center;
}

.header__btn {
    position: relative;
}

.header__btn:first-child {
    margin-left: 24px;
}

.header__btn:last-child {
    margin-left: auto;
    margin-right: 24px;
}

.header__logo {
    display: inline-block;
    margin-left: 17px;
    width: 97px;
    height: 55px;
    background: url(../assets/img/logo.svg) no-repeat;
}


/* .header__btn--close::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 21px;
    background: #FFFFFF;
    transform: translateX(-11px) translateY(-1px) rotate(-45deg);
}

.header__btn--close::after {
    /* есть смысл делать так?  проще и быстрее добавить свг в кнопку как с кнопкой ниже
    content: "";
    position: absolute;
    height: 2px;
    width: 21px;
    background: #FFFFFF;
    transform: translateX(-11px) translateY(-1px) rotate(45deg);
} */

.header__btn--search {
    /* background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5006 11.0006H11.7106L11.4306 10.7306C12.6306 9.33063 13.2506 7.42063 12.9106 5.39063C12.4406 2.61063 10.1206 0.390626 7.32063 0.0506256C3.09063 -0.469374 -0.469374 3.09063 0.0506256 7.32063C0.390626 10.1206 2.61063 12.4406 5.39063 12.9106C7.42063 13.2506 9.33063 12.6306 10.7306 11.4306L11.0006 11.7106V12.5006L15.2606 16.7506C15.6706 17.1606 16.3306 17.1606 16.7406 16.7506L16.7506 16.7406C17.1606 16.3306 17.1606 15.6706 16.7506 15.2606L12.5006 11.0006ZM6.50063 11.0006C4.01063 11.0006 2.00063 8.99063 2.00063 6.50063C2.00063 4.01063 4.01063 2.00063 6.50063 2.00063C8.99063 2.00063 11.0006 4.01063 11.0006 6.50063C11.0006 8.99063 8.99063 11.0006 6.50063 11.0006Z' fill='white'/%3e%3c/svg%3e ");
    background-position: 50% 50%;
    background-repeat: no-repeat; */
}

.services__items {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    list-style: none;
    display: flex;
    flex-flow: column;
    font-size: 16px;
    color: black;
}

.services__item {
    display: inline-block;
    position: relative;
    margin-left: 24px;
    margin-bottom: 32px;
    transition: color 400ms;
}

.services__item--active {
    color: #7e7e82;
}

.services__item--active:before {
    content: "";
    height: 32px;
    width: 4px;
    position: absolute;
    left: -20px;
    top: -8px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.services__item:hover:not(.services__item--active) {
    color: #FF3E79;
}

.services__item:not(.services__item--active):hover::before {
    content: "";
    height: 32px;
    width: 2px;
    position: absolute;
    left: -20px;
    top: -8px;
    background: #FF3E79;
    opacity: 0.2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footer {}

.footer__contact-us {
    float: left;
    margin-left: 8px;
    margin-bottom: 16px;
}

.footer__btn {
    margin-left: 16px;
}


/* .footer__btn--call {
    background: url(../assets/img/call.svg) no-repeat 50% 50%;
}

.footer__btn--msg {
    background: url(../assets/img/chat.svg) no-repeat 50% 50%;
}

.footer__btn--profile {
    background: url(../assets/img/profile.svg) no-repeat 50% 50%;
} */

.footer__contacts {
    clear: both;
    margin-left: 24px;
    color: #1b1c21;
    font-weight: bold;
    margin-bottom: 40px;
}

.contacts__email {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
}

.contacts__phone {
    display: block;
    font-size: 24px;
}

.contacts__phone:hover,
.contacts__email:hover {
    color: #FF3E79;
}

.footer__language {
    margin-left: 24px;
}

.language__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    color: #1b1c21;
    font-size: 16px;
}

.language__item {
    padding: 0;
    border: none;
    background: none;
    margin-right: 7px;
    transition: color 400ms;
}

.language__item--active {
    color: #7e7e82;
}

.language__item:hover:not(.language__item--active) {
    color: #FF3E79;
}